# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

#code
colab_code/
code.py

#static files
test_images/

kaggle.json